streamlit
python-dotenv
yt-dlp
pydub
audioop-lts
openai-whisper
torch
langchain
langchain-core
langchain-mistralai
langchain-huggingface
langchain-chroma
langchain-text-splitters
chromadb
sentence-transformers==3.3.1
huggingface-hub==0.25.2
protobuf==3.20.3